<mat-toolbar class="flex">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Angular Practice</span>
  <span class="flex-auto"></span>
  <a href="https://github.com/sakairy/angular_practice">
    <button mat-button>
      GitHub
    </button>
  </a>
  <a href="https://stackblitz.com/~/github.com/sakairy/angular_practice">
    <button mat-button>
      StackBlitz
    </button>
  </a>
</mat-toolbar>

<mat-drawer-container class="flex-grow">
  <mat-drawer #drawer>
    <a routerLink="hello">graph</a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>